
.LeftSide {
    width: 50%;
    min-width: 500px;
    /* background-color:antiquewhite; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LeftSide .Container {
    border: 1px dashed #ccc;
    border-radius: 10px;
    padding: 5px;
    margin:20px;
    display: flex;
    flex-direction: column;
}

.LeftSide .Container .Title {
    font-size: smaller;
    font-style: italic;
    color: #333;
}

.LeftSide .Container .ButtonWrap {
    border: 1px solid rgba(60, 255, 0, 0.678);
    padding: 10px;
    margin: 20px 40px;
    min-width: 300px;
    text-align: center;
    box-shadow: 1px 3px 10px 3px #ccc;
    user-select: none;
    background-color:rgba(60, 255, 0, 0.479);
    color:rgba(24, 10, 221, 0.664);
    font-weight: 600;
    font-size: large;
    /* border-radius: 2px; */
    cursor: pointer;

    
}

.LeftSide .Container .ButtonWrap:hover{
    box-shadow: 2px 4px 10px 3px #e0c3c3;
}

