.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: url(./media/background.jpg);
  background-size: cover;
  z-index:0;

}

.App::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}

@media only screen and (max-width: 600px) {
  .d-none{
    display: none !important;
  }
  .fullWidth{
    width: 100vw !important;
  }
  .width-90{
    width: 90vw !important;
  }
  .leftSide-MinWidth-sm{
    min-width: 100px !important;
    justify-content: flex-start !important;
    margin-top: 20px;
  }
  .leftSide-Button-MinWidth-sm{
    min-width: 100px !important;
  }
  .App::before {
   
    background-color: rgba(0,0,0,0.6);
  }

}